.features {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 0;
  width: 100%;
  background-color: #050a0f;
}

.feature {
  width: 10% !important;
  background-color: yellow;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
