@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #00d1ff;
  --ifm-color-primary-dark: #00d1ff;
  --ifm-color-primary-darker: #a8b657;
  --ifm-color-primary-darkest: #b9d616;
  --ifm-color-primary-light: #6d7736;
  --ifm-color-primary-lighter: #d4e961;
  --ifm-color-primary-lightest: #0c1218;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #00d1ff;
  --ifm-color-primary-dark: #00d1ff;
  --ifm-color-primary-darker: #a8b657;
  --ifm-color-primary-darkest: #b9d616;
  --ifm-color-primary-light: #6d7736;
  --ifm-color-primary-lighter: #d4e961;
  --ifm-color-primary-lightest: #0c1218;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* CUSTOM CSS */

* {
  font-family: "Inter", sans-serif
}

h1, p {
  color: #ffffffd0
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

p {
  font-weight: 300;
  margin-bottom: 3rem;
}

.row {
  justify-content: center;
}

/* Navbar */

.navbar {
  background-color: #050a0f;
  border-bottom: 1px #1e293b solid;
}

/* HERO */

.hero {
  background-color: #050a0f;
  height: 70vh;

  border-bottom: 1px #1e293b solid;
}

.buttonCta {
  background-color: #00d1ff;
  font-weight: 800;
  border: none;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* SIDEBAR */

.theme-doc-sidebar-container {
  background-color: #050a0f;
}

/* MD Pages */

.main-wrapper {
  background-color: #050a0f;
}

.theme-doc-markdown, .markdown {
  background-color: #050a0f;
}

/* Footer */

.footer {
  padding-top: 4rem;
  background-color: #050a0f;
}