/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #cee259;
  --ifm-color-primary-dark: #c4d65b;
  --ifm-color-primary-darker: #a8b657;
  --ifm-color-primary-darkest: #b9d616;
  --ifm-color-primary-light: #6d7736;
  --ifm-color-primary-lighter: #d4e961;
  --ifm-color-primary-lightest: #687909;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #cee259;
  --ifm-color-primary-dark: #c4d65b;
  --ifm-color-primary-darker: #a8b657;
  --ifm-color-primary-darkest: #b9d616;
  --ifm-color-primary-light: #6d7736;
  --ifm-color-primary-lighter: #d4e961;
  --ifm-color-primary-lightest: #687909;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}
